{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Membre</h2>
    <table class="admin-table-gestion">
        <tr class="tr-table-admin-gestion">
            <th>id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date naissance</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Etudes</th>
            <th>Contrat</th>
            <th>Modifier</th>
        </tr>
        {% for membres in membres %}
        <tr>
            <td>{{ membres.id }}</td>
            <td>{{ membres.nom }}</td>
            <td>{{ membres.prenom }}</td>
            <td>{{ membres.dateNaissance }}</td>
            <td>{{ membres.adresse }}</td>
            <td>{{ membres.codePostal }}</td>
            <td>{{ membres.ville }}</td>
            <td>{{ membres.niveauEtude }}</td>
            <td>{{ membres.typeContrat }}</td>
            <td>
                <a href="{{ path('membre', { 'id': membres.id }) }}">
                    <img src="../web/images/update.png"  class="icon-admin-gestion">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
